* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
/*Styling the main container */
.mainContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 255px;
  gap: 119.5px;
  font-family: "Open Sans", sans-serif;
  color: #6c6c6c;
}

.contentBox h1 {
  font-family: "Nunito", sans-serif;
  font-size: 42px;
  font-weight: 900;
  color: #6c6c6c;
  margin-top: 152px;

}
.contentBox h3 {
  font-size: 20px;
}
/* Styling for the difficulty selector */
.filterButtonsLevel {
  display: flex;
  background-color: rgb(238, 238, 238);
  width: 348px;
  height: 21px;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  border-radius: 4px;
  margin-top: 107px;
  cursor: pointer;
}
.filterButtonsLevel div:nth-child(2) {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding-left: 21px;
  padding-right: 21px;
}

/* Styling for the filter container only */
.filterContainer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 658px;
  justify-content: space-around;
  font-size: 14px;
  margin-top: 310px;
}

.filterItem {
  display: flex;
  gap: 20px;
}

.subscription {
  display: flex;
  flex-direction: column;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
}

.filterContainer p:first-child {
  font-size: 16px;
  color: #767676;
  font-weight: bolder;
  margin-left: 0;
  margin-bottom: 4.5px;
  border-bottom: 1px solid #707070;
}

/* Styling the contentBox */
.filterButtons {
  display: flex;
  justify-content: space-between;
}
.filterProjectsDisplayed {
  display: flex;
  align-items: flex-end;
}
.filterProjectsDisplayed h6 {
  margin-right: 21px;
}

.displayProjects {
  margin-top: 38.5px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectDetails {
  display: flex;
  align-items: flex-end;
}

/* back to top button */
.backToTopButton {
  margin: 50px;
  padding: 10px;
  position: relative;
  margin-left: 2100px;
  background-color: goldenrod;
  font-weight: 900;
  color: white;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  cursor: pointer;
  width: 175px ;
}
.button button:nth-child(2) {
  margin: 50px;
  padding: 10px;
  background-color: rgb(212, 0, 106);;
  font-weight: 900;
  color: white;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  cursor: pointer;
  width: 220px;
}

/* styling the show filter */

.filterSelector {
  display: flex;
  background-color: rgb(238, 238, 238);
  height: 21px;
  width: 155px;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  border-radius: 4px;
  margin-top: 107px;
  border: none;

}
.filterSelector div:nth-child(2) {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding-left: 21px;
  padding-right: 21px;
}

.active {
  background-color: #007bff; 
  color: #ffffff; 
  border: none; 
  cursor: pointer; 
}
