/* Styling navbar components as per specifications */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #43c0f6;
  height: 64px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  color: white;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #43c0f6;
}
.navpages {
  display: flex;
  align-items: flex-end;
  width: 406px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.navpages p:first-child {
 cursor: pointer;
}
.navpages {
  cursor: default;
}

.logo {
  height: 60px;
}

a {
  text-decoration: none;
}

.rightcontainer {
  display: flex;
  flex-direction: column-reverse;
  font-weight: bold;
  justify-content: space-around;
}

.navbarimg {
  width: 26px;
  height: 26px;
}

.misc {
  display: flex;
  font-size: 11px;
  justify-content: flex-end;
  gap: 10px;
}

.profile {
  display: flex;
  gap: 9px;
  cursor: pointer;
}

.flag {
  width: 24px;
  height: 12px;
}


/* Style The dropdown menu */

.dropDownContainer {
  position: fixed;
  width: 143px;
  height:151px;
  top: 73px;
  right: 160px;
  background-color: #fdf7d3;
  color: #707070;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 4px 5px #00000029;
  cursor: pointer;
}

p,a {
  margin-left: 8px;
}

.dropDownContainer::before {
  border: 1px solid #fdf7d3;
  position: absolute;
  left: 3.2px;
  top: -10px;
  width: 16px;
  height: 17px;
  content: "";
  border-style: solid;
  transform: rotate(45deg);
  z-index: 1000000;
  background-color: #fdf7d3;
}
