.hero{
    background-image: url('../../assets/Home/hero.png');
}
.hero {
    background-image: url('../../assets/Home/hero.png');
    background-size: cover;
    background-position: center center;
    height: 400px; /* Adjust the height as needed */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .header-content {
    width: 30%;
    padding:0;
    text-align: left;
    margin-left: 140px;

  }

  .hero-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container spans the full viewport height */
  }

  /* Style for the button container */
.button-container {
  text-align: center; /* Center-align the buttons */
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Style for the "Learn More" button */
.learn-more-button {
  background-color: white;
  border: 2px solid #43c0f6;
  color: #43c0f6;
  padding: 10px 20px;
  margin-right: 10px; /* Add spacing between buttons */
  cursor: pointer; /* Change cursor on hover */
}

.learn-more-button:hover {
  background-color: #43c0f6;
  color: white;
}

/* Style for the "Sign Up" button */
.sign-up-button {
  background-color: hotpink;
  color: white;
  padding: 10px 20px;
  cursor: pointer; /* Change cursor on hover */
}

.sign-up-button:hover {
  background-color: #ff69b4; /* Change the hover color for the "Sign Up" button */
}


  .sections {
    width: 100%; /* Make the sections span the full width */
    max-width: 800px; /* Adjust the max-width as needed */
    box-sizing: border-box;
  }
  
  .section {
    margin-bottom: 20px; /* Add space between sections */
    border: 1px solid black;
    padding: 20px;
  }

  .content-container {
    flex: 1; /* Allow the content container to stretch to fill the remaining vertical space */
    padding: 20px; /* Add padding for spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack sections vertically */
  }
