.hero{
    background-image: url('../../assets/Home/hero.png');
}

  .hero {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within sections */
    padding: 20px; /* Add padding for spacing */
  }
  
  .section {
    margin-bottom: 20px; /* Add space between sections */
    border: 1px solid black;
    width: 100%; /* Make the sections span the full width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }