.slideshow-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .text {
    flex: 1;
    padding: 20px;
  }
  
  .slideshow {
    flex: 1;
  }
  

  