

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #43c0f6;
    color: white;
    padding: 20px;
    z-index: 1000; /* (Optional) Adjust the z-index if necessary */
  }
  

.footer-column{
    flex: 1;
    margin: 0 10px;
}