
/* Style Hero Div */
.hero {
background-image: url("../../assets/Home/hero.png");
height: 400px;
display: flex;
align-items: center;

}

.heroContent {
  margin-left: 180px;
  font-family: 'Nunito', sans-serif;
  width: 588px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
 
}

.heroContent h2 {
  font-size: 60px;
  color: #6C6C6C;

}
.heroContent h2 > span {
  color:#42C0F6 ;
}

.heroContent p:nth-child(2) {

  font-family: 'Open Sans', sans-serif;
  color: #6C6C6C;
  font-size: 24px;
  font-weight: bold;
}

.heroButtons {
  display:flex ;
  justify-content: flex-end;
  gap: 72px ;
}

.heroButtons {
  display: flex;
  font-size: 11px;
  height: 35px;
}

.heroButtons button:nth-child(1) {
 border-radius: 8px;
 border: 3px solid #42C0F6 ;
 width: 175px;
 font-weight: bold;
 font-family: 'Open Sans';
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.heroButtons button:nth-child(2) {
  border-radius: 8px;
  background-color: rgb(190, 27, 190) ;
  color: white;
  width: 175px;
  font-weight: bold;
  font-family: 'Open Sans';
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
 }
  .heroContent p:last-child {
  font-size: 11px;
  align-self: flex-end;
  width: 175px ;
 }

 /* Style second section of page ".content" box */
 .content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
 }

 .contentContainerOne {
  font-family: 'Open Sans', sans-serif;
  width: 700px;
  display: flex;
  flex-direction: column;
  color: #6C6C6C;
  gap: 80px;
 }

 .contentContainerOne div:nth-child(1) h2 {
  font-size: 42px;
 }

 .contentContainerOne div:nth-child(1) {
  font-size: 20px;
 }

 .contentContainerOne div:nth-child(2) h2 {
  font-size: 30px;
 }

 .contentContainerTwo {
  display: flex;
  flex-direction: column;
 }

 .slideShow {
  display: flex;
  justify-content: space-evenly;
  width: 160px;
  align-self: center;
 }

 .slideShow > div{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: white; 
}

.slideShow > div.active {
  background-color: #6C6C6C;
}

/* styling content 2 container */

.contentTwo {
  margin-top: 134px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  gap: 30px;
}

.contentTwo h2:nth-child(1) {
  color: #6C6C6C;
  font-size: 30px;
}

.contentTwo h2:nth-child(3) {
  font-weight: bolder;
  color: #6C6C6C;
  font-size: 42px;
}

.contentTwoImages {
  display: flex;
  gap: 50px;
}

.buttons {
  display: flex;
  gap: 100px;
}

.buttons button {
    border-radius: 8px;
    border: 3px solid #42C0F6 ;
    width: 250px;
    height: 35px;
    font-weight: bold;
    font-family: 'Open Sans';
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}
/* Style the clickable info boxes */
.clickable {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif ;
  background-color: rgb(233, 233, 233);
  gap: 30px;
  color: #606060;
  font-weight: 900;
}

.bulletPoint {
  display: flex;
  align-items: flex-start;
  margin-left: 282px;
}
.bulletPoint img {
  width: 40px;
  height: 40px;
}

.clickable h1 {
  margin-left: 282px;
  margin-top: 20px;
  font-size: 30px;
}

.clickable > p:nth-child(2) {
  margin-left: 282px;
}

.buttons > button.activeButton {
  background-color: rgb(233, 233, 233);
  border: none;
}

/* Final Container */
.lastContainer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #6C6C6C;
}

.startToday {
  width: 610px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}
.startToday > h1 {
font-size: 42px;
}
.startToday p {
font-size: 20px;
font-weight: bold;
}

.startToday > .heroButtons {
  display: flex;
  justify-content: center;
}